body{
	font-family: Arial;
}

/*Para quitar el icono de viñeta de los elementos
enlistados*/

/*ul, ol {
	list-style:none;
	padding: 0;
}*/

/*
Graficos:
list-style: none | disc | circle | square

Numericos:
list-style: decimal | decimal-leading-zeo | lower-roman | upper-roman |
			lower-latin | upper-latin
*/

ul{
	list-style-type: square;
	list-style-image: url('../img/checked.png');
}

ol{
	/*list-style-type: lower-latin;*/
	list-style-type: decimal-leading-zeo;
}


/*Menu*/
/*Se trabaja el ul como menu*/
.menu{
	background: #4357ad;
	width: 200px;
	list-style: none;
	padding: 0;
	text-align: center;

}

/*Aqui coloreamos la línea del menu*/
.menu li {
	
	border-bottom: 1px solid rgba(255,255,255,.3);
}

.menu li a{
	display: block;
	padding: 15px;
	color: #fff;
	text-decoration: none;
}

/*Aquí el estilo al pasar el mouse encima*/
.menu li a:hover{
	background: #4888d6;
	border-bottom: 1px solid #fff;
}