/*Para Editar la primera letra del parrafo*/

p::first-letter{
	font-size:40px;
	font-weight: bold;
}

/*Para Editar la primera linea del parrafo*/

p::first-line{
	background: #cf5c36;
	line-height: 40px;
}

/*Para subrayar*/

*::selection{
	background: #f9a03f;
	color: #fff;
}

/*Para subrayar pero soportado en mozila*/

*::-moz-selection{
	background: #f9a03f;
	color: #fff;
}

/*Crear una caja*/
.caja{
	background: #f9a03f;
	height: 150px;
	width: 150px;
}

/*Aquí indicamos contenido que ira antes
Es obligatorio agregar la etiqueta
content: '';
para que se reflejen los cambios*/
.caja::before{
	content: 'Contenido antes de la caja';
	display: block;
	background: #3a3a3a;
	color: #fff;
}

/*Aquí indicamos contenido que ira despues
Es obligatorio agregar la etiqueta
content: '';
para que se reflejen los cambios
*/

.caja::after{
	content: 'Contenido despues de la caja';
	width: 50px;
	height: 50px;
	display: block;
	background: #000;
	color:rgb(255, 0, 0);
	position: relative;
	left: 200px;
}


/* Primero apunta a .lista-citas que es el div padre */
/* Luego dentro tendremos div hijos para .cita */
.lista-citas .cita {
	border-bottom: 1px solid #e1e1e1;
	padding: 2rem;
	padding-bottom: 3rem;
	
  }
  /* Mira que para señalar el último de la clase que hay es con
  la pseudoclase :last-of-type */
  /* Para el último div(hijo) aplica lo siguiente: */
  .lista-citas .cita:last-of-type {
	border-bottom: 0;
  }
  /* .lista-citas .cita:first-of-type {
	border-bottom: 0;
  } */