* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #E9E9E9;
  font-size: 16px;
}

body h2 {
  font-size: 2.5em;
  margin: 20px;
  color: #ff7979;
}

body p {
  margin: 20px;
  font-size: 1.5em;
}

.contenedor1 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor1 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: #E67E22;
  text-align: center;
}

.contenedor2 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: no-wrap;
          flex-flow: no-wrap;
}

.contenedor2 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: #E67E22;
  text-align: center;
}

.contenedor3 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor3 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor4 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
}

.contenedor4 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor5 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor5 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor6 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contenedor6 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor7 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor7 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor8 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor8 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor9 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor9 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor10 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contenedor10 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor11 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.contenedor11 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor12 {
  width: 500px;
  height: 500px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contenedor12 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 200px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor13 {
  width: 500px;
  height: 500px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.contenedor13 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 200px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor14 {
  width: 500px;
  height: 500px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.contenedor14 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 200px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor15 {
  width: 500px;
  height: 500px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.contenedor15 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 200px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor16 {
  width: 500px;
  height: 500px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor16 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 200px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor17 {
  width: 500px;
  height: 500px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor17 .elemento {
  color: #ffffff;
  margin: 5px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor18 {
  width: 500px;
  height: 500px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor18 .elemento {
  color: #ffffff;
  margin: 5px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor19 {
  width: 500px;
  height: 500px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedor19 .elemento {
  color: #ffffff;
  margin: 5px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor20 {
  width: 500px;
  height: 500px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor20 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 200px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor21 {
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor21 .elemento {
  color: #ffffff;
  margin: 5px;
  width: 200px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor22 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor22 .elemento {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #ffffff;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor22 .elemento2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.contenedor23 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor23 .elemento {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  color: #ffffff;
  margin: 5px;
  width: 350px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor23 .elemento2 {
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.contenedor24 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor24 .elemento {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  color: #ffffff;
  margin: 5px;
  width: 350px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor24 .elemento1 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.contenedor24 .elemento2 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.contenedor24 .elemento3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.contenedor24 .elemento4 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.contenedor25 {
  width: 500px;
  height: 500px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor25 .elemento {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  color: #ffffff;
  margin: 5px;
  width: 350px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor25 .elemento3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contenedor26 {
  width: 500px;
  height: 500px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor26 .elemento {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  color: #ffffff;
  margin: 5px;
  width: 350px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor26 .elemento3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contenedor27 {
  width: 500px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor27 .elemento {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  color: #ffffff;
  margin: 5px;
  width: 100px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor27 .elemento3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contenedor28 {
  width: 500px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor28 .elemento {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  color: #ffffff;
  margin: 5px;
  width: 100px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor28 .elemento3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contenedor29 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor29 .elemento {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  color: #ffffff;
  margin: 5px;
  width: 100px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor29 .elemento3 {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  height: auto;
}

.contenedor30 {
  width: 500px;
  height: 200px;
  background: #ffffff;
  padding: 10px;
  border: 10px solid #2C3E50;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor30 .elemento {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  color: #ffffff;
  margin: 5px;
  width: 100px;
  height: 50px;
  background: #E67E22;
  text-align: center;
  padding: 15px;
}

.contenedor30 .elemento3 {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  height: auto;
}
/*# sourceMappingURL=pruebas.css.map */