*{
	padding: 0;
	margin: 0;
	-webkit-webkit-box-sizing: border-box;
	-moz-webkit-box-sizing: border-box;
	-ms-webkit-box-sizing: border-box;
	-o-webkit-box-sizing: border-box;
	/*webkit-box-sizing: border-box;*/
	box-sizing: border-box;
	/* Con está línea le quitamos el borde negro que genera en los
	botones inputs de formularios */
	outline: 0px;
}
body{
	background: #f2f2f2;
	font-family: Arial, Sans-serif;
}

.formulario{
	background: #fff;
	width: 500px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 5px;
}

/*para que los inputs se pongan debajo de otro
ya que son inline*/
.formulario input{
	display: block;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea{
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 3px;
	border: 2px solid #226fc1;
	font-family: Arial;
	font-style: 16px;
}

/*Para limitar el ancho y alto del textarea*/

.formulario textarea{
	min-height: 120px;
	max-height: 300px;
	min-width: 100%;
	max-width: 100%;
}

/*Para que coloque un borde al precionar 
dentro de el con la propiedad focus*/
.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus{
	border: 2px solid #4fb560;
}

/*Boton*/

.formulario input[type="submit"]{
	width: 200px;
	margin: 0 auto;
	background: none;
	border: 1px solid #4fb560;
	color: #4fb560;
	padding: 10px;
	/*para cambiar el cursor al pasar encima del boton*/
	cursor: pointer;
	font-size: 16px;
	border-radius: 3px;
}

.formulario input[type="submit"]:hover{
	background: #4fb560;
	color: #fff;
}