*{ padding: 0;
	margin: 0;
	/*box-sizing: border-box;*/
}

.caja{
	width:200px;
	height:200px;
	background:#21295c;
	/*Solo a una propiedad*/
	/*transition: background 2s ease;*/
	
	/*A todas las propiedades*/
	transition: all 2s ease;
	/*Antes de que suceda el efecto*/
	/*transition-delay: 2s;*/
}

.caja:hover{
	background: #9eb3c2;
	width:1366px;
	transform: translate(0,100px);
	/*transform: rotate(360deg);*/
}

/* Velocidad de Curva
	ease - inicio lento, despues rapido y termina lento
	linear - misma velocida de inicio a fin
	ease-in - inicio lento
	ease-out - final lento
	ease-in-out - inicio lento y final lento
*/
