*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: yellow;
}

p{
	font-size: 50%;
	color: green;
}
span{
	font-size: 1.5em;
}
.caja{
	/*background: #000;*/
	width: 300px;
	height: 300px;

}


.c2{
	color: yellow;
}