div{
	background: #226fc1;
	width: 200px;
	height: 200px;
	margin: 20px;
	display: inline-block;
}

/*Borde solido*/
.caja1{
	border: 7px solid #000;
	border-radius: 20px;
}

/*Borde Pundeado*/

.caja2{
	border: 7px dotted #000;
}

/*Borde en líneas*/

.caja3{
	border: 7px dashed #000;
	border-radius: 0px 10px 0px 10px;
}

.caja4{border: 7px  double#000}
.caja5{border: 7px groove#000}
.caja6{border: 7px ridge#000}
.caja7{border: 7px inset#000}
.caja8{border: 7px outset#000}

