.caja{
	background: #226fc1;
	width: 200px;
	height: 200px;
	margin: 20px;
	display: inline-block;
}

/*Borde solido*/
.caja1{
	border: 7px solid #000;
	border-radius: 20px;
}

/*Borde Pundeado*/

.caja2{
	border: 7px dotted #000;
}

/*Borde en líneas*/

.caja3{
	border: 7px dashed #000;
	border-radius: 0px 10px 0px 10px;
}

.caja4{border: 7px  double#000}
.caja5{border: 7px groove#000}
.caja6{border: 7px ridge#000}
.caja7{border: 7px inset#000}
.caja8{border: 7px outset#000}

.caja9{border-top: solid 7px rgb(255, 0, 0);}
.caja10{border-right: solid 7px rgb(9, 255, 0);}
.caja11{border-bottom: solid 7px rgb(251, 255, 0);}
.caja12{border-left: solid 7px rgb(255, 0, 242);}

/* Más info en: 
https://www.w3schools.com/css/css_border.asp
https://www.w3schools.com/css/css_border_color.asp 
https://www.w3schools.com/css/css_border_sides.asp */